[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/matplotlib-cpp"]
	path = External/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
